@use 'variables' as v;
* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
body {
	align-items: center;
	background-color: v.$background;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
}
